<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Employee</title>
    <!-- Bootstrap Icons link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- Bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/style.css" />
    <script defer src="../js/components/cf-sidebar.js"></script>
  </head>

  <body>
    <cf-sidebar></cf-sidebar>
    <div class="home-content">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="justify-content: flex-start">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="employee.html">Employees</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Create Employee
          </li>
        </ol>
      </nav>

      <form id="employee-form">
        <fieldset class="border p-2">
          <legend class="w-auto">Employee Information</legend>
          <div
            id="error-message"
            class="error-message"
            style="color: red"
          ></div>
          <div class="two-column">
            <div class="form-group">
              <label for="empFirstName">First Name</label>
              <i
                class="bi bi-question-circle text-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Enter the employee's first name."
              ></i>
              <input
                type="text"
                id="empFirstName"
                name="firstName"
                placeholder="e.g. John"
              />
            </div>
            <div class="form-group">
              <label for="empLastName">Last Name</label>
              <i
                class="bi bi-question-circle text-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Enter the employee's last name."
              ></i>
              <input
                type="text"
                id="empLastName"
                name="lastName"
                placeholder="e.g. Doe"
              />
            </div>
          </div>
          <div class="two-column">
            <div class="form-group">
              <label for="empEmail">Email</label>
              <i
                class="bi bi-question-circle text-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Provide a valid email address for the employee."
              ></i>
              <input
                type="text"
                id="empEmail"
                name="email"
                placeholder="johndoe@example.com"
              />
            </div>
            <div class="form-group">
              <label for="empPhone">Phone</label>
              <i
                class="bi bi-question-circle text-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Enter the employee's phone number, not including spaces or dashes"
              ></i>
              <input
                type="text"
                id="empPhone"
                name="phone"
                placeholder="123456789"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="empUsername">Username</label>
            <i
              class="bi bi-question-circle text-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Choose a unique username for the employee's account."
            ></i>
            <input type="text" id="empUsername" name="username" />
          </div>
          <div class="form-group">
            <label for="empPassword">Password</label>
            <i
              class="bi bi-question-circle text-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Set a secure password for the employee."
            ></i>
            <div class="input-group">
              <input
                type="password"
                id="empPassword"
                name="password"
                class="form-control"
              />
              <button
                type="button"
                id="togglePassword"
                class="btn btn-outline-secondary"
              >
                <i class="bi bi-eye-slash" id="eyeIcon"></i>
              </button>
            </div>
          </div>
        </fieldset>

        <fieldset class="border p-2">
          <legend class="w-auto">Employee Position Information</legend>
          <div class="two-column">
            <div class="form-group">
              <label>Position</label>
              <i
                class="bi bi-question-circle text-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Select the employee's position from the dropdown menu."
              ></i>
              <select id="position"></select>
            </div>
          </div>
        </fieldset>

        <div class="form-group submit-btn-container">
          <button type="submit" class="submit-btn" id="submit-btn">
            Create Employee
          </button>
        </div>
      </form>
    </div>
    <script src="../assets/js/main/user-role-handling.js"></script>
    <script defer src="../assets/js/main/sidebar.js"></script>
    <script defer src="../assets/js/employee/create-employee.js"></script>
    <script defer src="../assets/js/employee/populate-form-fields.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      // Initialize tooltips
      document.addEventListener("DOMContentLoaded", function () {
        const tooltipTriggerList = [].slice.call(
          document.querySelectorAll('[data-bs-toggle="tooltip"]')
        );
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
          new bootstrap.Tooltip(tooltipTriggerEl);
        });
      });

      document
        .getElementById("togglePassword")
        .addEventListener("click", function () {
          const passwordInput = document.getElementById("empPassword");
          const eyeIcon = document.getElementById("eyeIcon");

          if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove("bi-eye-slash");
            eyeIcon.classList.add("bi-eye");
          } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove("bi-eye");
            eyeIcon.classList.add("bi-eye-slash");
          }
        });
    </script>
    <script src="../assets/js/main/inject-notification-modal.js"></script>
    <script src="../assets/js/main/notification-handling.js"></script>
  </body>
</html>
